


.trop-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* header CSS start */
.trop-header__inner {
    justify-content: space-between;
}
/* header CSS end */